@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Scheherazade+New:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: #fffbeb;
  --foreground: #1f2937;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-arabic-amiri {
  font-family: "Amiri", serif;
}

.font-arabic-scheherazade {
  font-family: "Scheherazade New", serif;
}
.tippy-box {
  background: transparent !important;
  box-shadow: none !important;
}

.tippy-content {
  padding: 0 !important;
}